#Core LLM + Langchain ecosystem 
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
streamlit>=1.0.0

#Tavily Search Tool 
tavily-python>=0.3.0

#Web Scaping 
beautifulsoup4>=4.12.0
readability-lxml
trafilatura
requests>=2.31.0
lxml

#Environment varaiables 
python-dotenv>=1.0.0

#Logging and debugging 
rich>=13.7.0